body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.hidden {
    display: none;
}

.main {
    width: 100vw;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

.topbar {
    height: 60px;
    border-bottom: solid;
    border-width: thin;
    border-collapse: collapse;
}

.sidebar {
    border-style: solid;
    border-width: thin;
    border-collapse: collapse;
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
}

.map-outer-div {
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.content-area {
    height: calc(100% - 60px);
}

.chat-card {
    border-style: dotted;
    border-width: thin;
    padding: 5px;
    margin-bottom: 5px;
}

.pin-card {
    border-style: solid;
    border-width: thin;
    padding: 5px;
    height: 80px;
}

.sidebar-spacer {
   margin: 0;
   padding: 0;
   height: 0px;
}

.select_disable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.protest-location {
    margin-bottom: 10px;
}

#droppable-pin {
    /*cursor: grab;*/
}

#map-div {
    height: 100%;
}