body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.hidden {
    display: none;
}

.main {
    width: 100%;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
    padding: 0px;
    display: table;
}

.topbar {
    padding: 10px;
    display: table-row;
}

.topbar > div {
    border-bottom: solid;
    border-width: thin;
    border-collapse: collapse;
}

.sidebar {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-collapse: collapse;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    height: 100%;
}

.map-outer-div {
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.content-area {
    display: table-row;
    height: 100%;
}

.content-area > div {
    height: 100%;
}

.content-area > div > div {
    height: 100%;
}

.login-card {
    border-style: dotted;
    border-width: thin;
    padding: 15px;
    margin: 5px;
    height: 100%;
}

.layout-table {
    margin: 0px;
    padding: 0px;
    border-style: none;
    height: 100%;
    width: 100%;
}

.login-button {
    width: 100%;
}

.pin-card {
    border-style: dotted;
    border-width: thin;
    padding: 15px;
    margin: 5px;
    height: 100px;
}

.notification-card {
    border-style: dotted;
    border-width: thin;
    padding: 15px;
    margin: 5px;
    height: calc(100% - 105px);
}

.sidebar-spacer {
   margin: 0;
   padding: 0;
   height: 0px;
}

.select_disable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.protest-location {
    margin-bottom: 10px;
}

#droppable-pin {
    /*cursor: grab;*/
}

#map-div {
    height: 100%;
}