{{#*inline "inlineStyleSheets"}}
  <link rel="stylesheet" href="css/pages/index.css">
{{/inline}}

{{#*inline "body"}}
    <p>Hello World!</p>

    <form id="echo-test">
        <input type="text">
        <button>echo test</button>
    </form>

    <div>`
        <p>List of Test Pages</p>

        <ul>
            <li><a href="/map-test">map-test</a></li>
            <li><a href="/login">login</a></li>
        </ul>
    </div>
{{/inline}}