{{#*inline "inlineStyleSheets"}}
  <link rel="stylesheet" href="css/leaflet/leaflet.css">
  <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="css/pages/map-test.css">
{{/inline}}

{{#*inline "body"}}
    <div class="container-fluid main">
        <div class="row topbar">
            <div class="col-sm-12 text-center"><h1 class="h1">Lockdown Protest Planner</h1></div>
        </div>
        <div class="row content-area">
            <div class="h-100 col-sm-2 sidebar">

                <div class="chat-card">
                    <svg class="bi" width="16" height="16" fill="black">
                        <use xlink:href="/assets/bootstrap/bootstrap-icons.svg#chat-left-text"/>
                    </svg>
                    <strong>Corona Corrector:</strong></br> So are you coming? Really looking forward to...
                    <span class="badge badge-danger float-right">4</span>
                </div>

                <div class="chat-card">
                    <svg class="bi" width="16" height="16" fill="black">
                        <use xlink:href="/assets/bootstrap/bootstrap-icons.svg#chat-left-text"/>
                    </svg>
                    <strong>Cool Protestor Guy:</strong></br>Crucial update for all those attending...
                    <span class="badge badge-danger float-right">1</span>
                </div>

                <div class="chat-card">
                    <svg class="bi" width="16" height="16" fill="black">
                        <use xlink:href="/assets/bootstrap/bootstrap-icons.svg#chat-left-text"/>
                    </svg>
                    <strong>Dr. Faux Chi:</strong></br>Reminder to all to please bring a white hat. #WhiteHatRebellion
                    <span class="badge badge-danger float-right">2</span>
                </div>

                <div class="chat-card" id="map-info"></div>
            </div>
            <div class="h-100 col-sm-10 map-outer-div"><div id="mapdiv"></div></div>
        </div>
    </div>
{{/inline}}