{{#*inline "inlineStyleSheets"}}
  <link rel="stylesheet" href="css/pages/map-test.css">
  <link rel="stylesheet" href="css/leaflet/leaflet.css">
{{/inline}}

{{#*inline "body"}}
    <div id="mapdiv"></div>
{{/inline}}